body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}
#screen_center{
    transform: translate(-50%);
    box-sizing: border-box;
    position: relative;
    height: 400px;
    width: 85%;
    top: 200px;
    left: 50%;
}
    #pre-viewer{
        border: 1px solid #FFFFFF;
        position: absolute;
        height: 100%;
        width: 400px;
        left: 0%;
        top: 0%;
    }
        #pv-img-box{
            box-sizing: border-box;
            position: absolute;
            height: 60%;
            width: 100%;
            left: 0%;
            top: 0%;
        }
        #pv-img{
            height: 100%;
            width: 100%;
        }
        .pv-description{
            box-sizing: border-box;
            position: absolute;
            width: 400px;
            height: 40%;
            left: 0%;
            top: 60%;
        }
        #pv-description{
            border-top: 1px solid #FFFFFF;
            background-color: #101010;
        }
        #pw-description{
            border-top: 1px solid #FFFFFF;
            background-color: #101010;
        }
        #pv-writer{
            border: 1px solid #FFFFFF;
            position: absolute;
            height: 100%;
            width: 400px;
            right: 0%;
            top: 0%;
        }
    #opt-col{
        background-color: #101010;
        border: 1px solid #FFFFFF;
        transform: translate(-50%);
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 300px;
        left: 50%;
        top: 0%;
    }
        .opt{
            box-sizing: border-box;
            font-family: sans-serif;
            color: #FFFFFF;
            font-size: 17px;
            padding: 9px;
            width: 100%;
            height: 10%;
        }
        #upload-box{
            font-family: sans-serif;
            box-sizing: border-box;
            position: absolute;
            color: #FFFFFF;
            bottom: 0%;
            width: 100%;
            height: 10%;    
            font-size: 17px;
        }
        #upload{
            font-family: sans-serif;
            box-sizing: border-box;
            position: absolute;
            font-weight: bold;
            border-radius: 15px;
            border-style:solid;
            border-color: #151515;
            left: 50%;
            top: 50%;
            width: 50%;
            height: 90%;
            font-size: 17px;
            transform: translate(-50%, -50%);
        }
        .color-picker{
            background-color: initial;
            position: static;
            top: 0px;
            left: 0px;
            height: 17px;
            width: 13px;
            padding:initial;
            border: 10px;
            margin: 3px 3px 3px 4px;
        }