body{
    background-color: #202022;
    padding: 0px;
    margin: 0px;
}
#screen_center{
    background-color: #FFFFFF;
    transform: translate(-50%);
    box-sizing: border-box;
    position: relative;
    height: 400px;
    width: 85%;
    top: 200px;
    left: 50%;
}
    #pre-viewer{
        background-color: #EEEEEE;
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 400px;
        left: 0%;
        top: 0%;
    }
        .pv-img{
            background-color: #DDDDDD;
            box-sizing: border-box;
            position: absolute;
            height: 100%;
            width: 400px;
            left: 0%;
            top: 0%;
        }
        .pv-description{
            background-color: #CCCCCC;
            box-sizing: border-box;
            position: absolute;
            width: 400px;
            height: 40%;
            left: 0%;
            top: 60%;
        }
        #pv-writer{
            background-color: #EEEEEE;
            box-sizing: border-box;
            position: absolute;
            height: 100%;
            width: 400px;
            right: 0%;
            top: 0%;
        }
    #opt-col{
        background-color: #EEEEEE;
        transform: translate(-50%);
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        width: 300px;
        left: 50%;
        top: 0%;
    }
        .opt{
            background-color: #DDDDDD;
            box-sizing: border-box;
            font-family: sans-serif;
            font-size: 17px;
            padding: 9px;
            width: 100%;
            height: 10%;
        }
        .color-picker{
            background-color: initial;
            position: static;
            top: 0px;
            left: 0px;
            height: 17px;
            width: 13px;
            padding:initial;
            border: 10px;
            margin: 3px 3px 3px 4px;
        }